html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  background-color: #F2F7FA;
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  color: #4a4a4a;
}

